@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-main: #FFFFFF;
  --color-primary-purple: #B796FF;
  --color-primary-purple-hover: #A07BFF;
  --color-text-dark: #0A1B39;
  --color-text-muted: #5E6776;
  --color-dark-green: #131811;
  --color-border-light: rgba(0, 0, 0, 0.08);

  --font-poppins: "Poppins", sans-serif;
  
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-3xl: 64px;
}

@layer base {
  body {
    font-family: var(--font-poppins);
    color: var(--color-text-dark);
    background-color: var(--color-bg-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
